[submodule "backend"]
	path = backend
	url = https://github.com/BereDarius/flashcard-app-3-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/BereDarius/flashcard-app-3-frontend.git
